# Introduction

## Day 1 of 30 Days of Python Challege

In [1]:
print("Welcome to Day 1 of the Python Challenge!")

Welcome to Day 1 of the Python Challenge!

## Basic Mathematics Operations

In [2]:
a = 5
b = 3

In [3]:
#Addtion (+)
#Adds two numbers
a + b

8

In [4]:
#Subtration (-)
#Subtracts the second number from the first
a - b

2

In [5]:
#Multiplication (*)
#multiply two numbers
a * b

15

In [6]:
#Division (/)
#Divides the first number by the second, returning a float
a / b

1.6666666666666667

In [7]:
#Floor Division (//)
#Divides and rounds down to the nearest integer
a // b

1

In [8]:
#Modulus (%)
#Returns the remainder of the division
a % b

2

In [9]:
#Exponentiation (**)
#Raises the first number to the power of the second

a ** b

125

## Data Types

In [10]:
a = 2
b = 32>34
c = 1.0
d = (3 + 4j)
e = ('Hello World!')
f = ['Usman', 'Umar', 'John', 'Musa']
g = ([12,234,345,456,45],['Usman', 'Umar', 'John', 'Musa'])
h = {"name": "Umar", "age": 25, "hieght":1.69}
i = True

In [11]:
print(type(a))          #Integer (int): Whole numbers (positive or negative) without decimals e.g: 0, -1, 44

<class 'int'>

In [12]:
print(type(b))          #Boolean (bool): Represents True or False

<class 'bool'>

In [13]:
print(type(c))          #Float (float): Numbers with decimals e.g: 2.4, 2.0, 0.333

<class 'float'>

In [14]:
print(type(d))          #Complex (complex): Numbers with real and imaginary parts e.g (2 - 5j)

<class 'complex'>

In [15]:
print(type(e))          #String (str): This is a collection of characters, enclosed in single or double quotes

<class 'str'>

In [16]:
print(type(f))          #An ordered, mutable collection of items

<class 'list'>

In [17]:
print(type(g))          #An ordered, immutable collection of items

<class 'tuple'>

In [18]:
print(type(h))          #Dictionary (dict): A collection of key-value pairs

<class 'dict'>

In [19]:
print(type(i))          #Boolean (bool): Represents True or False

<class 'bool'>

Python Programming relies on basic math operations like Addition, Subtraction, Multiplication, Division, and Modulus for Mathematical Operations, along with exponentiation and floor division for advanced calculations. Data types categorize information, including numeric types (integers, floats, complex numbers), text (strings), and booleans for logical decisions.