# Day 8 of 30 Days Python Programming Challenge
## Module 8: Loop 
### Exercise

##### Module 8 (Loop)

#### ðŸ’» Loops Exercises
##### Exercises: Level 1

In [45]:
#1 Iterate 0 to 10 using for loop, do the same using while loop.

count = 0
while count < 11:
    
    print(count)
    count = count +1



for another_count in range(11):
    print(another_count)

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [46]:
#2 Iterate 10 to 0 using for loop, do the same using while loop.

count = 10
while count >= 0:
    print(count)
    count -= 1

for another_count in range(10, -1, -1):
    print(another_count)

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

In [47]:
for count in range(1, 8):
    print('#' * count)


for count in range(1, 8):
    print('Umar'* count)

#
##
###
####
#####
######
#######
Umar
UmarUmar
UmarUmarUmar
UmarUmarUmarUmar
UmarUmarUmarUmarUmar
UmarUmarUmarUmarUmarUmar
UmarUmarUmarUmarUmarUmarUmar

In [48]:
#Use nested loops to create the following:

for i in range(8):
    print('#'*8)

########
########
########
########
########
########
########
########

In [49]:
#Print the following pattern:

for count in range(11):
    print(f'{count} x {count} = {count * count}')

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [50]:
#Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

Data_Science = ['Python', 'Numpy','Pandas','Django', 'Flask']
for Data in Data_Science:
    print(Data)

Python
Numpy
Pandas
Django
Flask

In [51]:
#Use for loop to iterate from 0 to 100 and print only even numbers

for numbers in range(0,101,2):
    print(numbers)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [52]:
#Use for loop to iterate from 0 to 100 and print only odd numbers

for numbers in range(1,101,2):
    print(numbers)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### Level 2

In [68]:
total_sum = 0
for numbers in range(101):
    total_sum += numbers
print(total_sum)
print(f'Hence, The Total Sum is {total_sum}!')

5050
Hence, The Total Sum is 5050!

In [72]:
#Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

even, odd = 0,0
for numbers in range(101):
    if numbers % 2:
        even  += numbers
    else:
        odd += numbers
print(even)
print(odd)
print(f'The Sum of Even Number is {even}!')
print(f'The Sum of Odd Number is {odd}!')

2500
2550
The Sum of Even Number is 2500!
The Sum of Odd Number is 2550!

#### Level 3

In [115]:
#Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

from Countries import countries

land_countries = [country for country in countries if 'land' in country]
print(land_countries)

land_countries = [country for country in countries if 'land' in country]
for country in land_countries:
    print(country)

['Island', 'Finland', 'Scotland', 'Holland']
Island
Finland
Scotland
Holland

In [103]:
#This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

fruit_list = ['banana', 'orange', 'mango', 'lemon']

for fruit in range(len(fruit_list)-1,-1,-1):

    print(fruit_list[fruit])

lemon
mango
orange
banana

TypeError: string indices must be integers, not 'str'